services:
  conduit:
    container_name: conduit
    image: ghcr.io/psiphon-inc/conduit/cli:latest
    command: start -b -1 -m 150 --metrics-addr :9090
    volumes:
      - /srv/conduit/data:/home/conduit/data
    ports:
      - "{{ vpn_ip }}:9090:9090"
    restart: unless-stopped
  conduit-shirokhorshid:
    container_name: conduit-shirokhorshid
    image: ghcr.io/ssmirr/conduit/conduit:latest
    command: start -b -1 -m 150 --metrics-addr :9090 --compartment shirokhorshid
    volumes:
      - /srv/conduit/data:/home/conduit-shirokhorshid/data
    ports:
      - "{{ vpn_ip }}:9091:9090"
    restart: unless-stopped
